<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>680616898898-sg9unpmmqv7njidg2ot2h6la8er06c4h.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.680616898898-sg9unpmmqv7njidg2ot2h6la8er06c4h</string>
	<key>API_KEY</key>
	<string>AIzaSyDIHbYEMuinuEwdTha-2YzT5pnpxQmyeL8</string>
	<key>GCM_SENDER_ID</key>
	<string>680616898898</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>zvontsov-adadigital.ru.NewsToDay</string>
	<key>PROJECT_ID</key>
	<string>newstoday-adb1d</string>
	<key>STORAGE_BUCKET</key>
	<string>newstoday-adb1d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:680616898898:ios:65a948b8ae917bcf598a8b</string>
</dict>
</plist>